<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700;900&display=swap');
    </style>
    <link rel="stylesheet" href="style.css">
    <script src="https://kit.fontawesome.com/09a333115a.js" crossorigin="anonymous"></script>
    <title>Document</title>
</head>
<body>
   <div class="container-fluid logo">
              <img src="./img/logo.jpg" class="d-block mx-auto" alt="">

      </div>
    <nav class="navbar pt-0 pb-0 navbar-expand-lg bg-light ">
     
        <div class="container-fluid navhead ">
        

            <button class="navbar-toggler ms-auto " style="margin-top: -5rem;" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon "></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav m-auto mb-2 mb-lg-0">
              <li class="nav-item mx-auto">
                <a class="nav-link mx-3 " aria-current="page" href="#">Nav1</a>
              </li>
              <li class="nav-item mx-auto">
                <a class="nav-link mx-3 " aria-current="page" href="#">Nav2</a>
               </li>
             
             
              <li class="nav-item mx-3 mx-auto dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nav3
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
              <li class="nav-item mx-3
              mx-3 dropdown mx-auto">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Nav4
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li>
               <li class="nav-item mx-3 mx-auto">
                <a class="nav-link " aria-current="page" href="#">Nav5</a>
              </li>
               <li class="nav-item mx-3 mx-auto">
                <a class="nav-link " aria-current="page" href="#">Nav6</a>
              </li>
               <li class="nav-item mx-3 mx-auto">
                <a class="nav-link " aria-current="page" href="#">Nav7</a>
              </li>
              
               <li class="nav-item mx-3 mx-auto">
                <a class="nav-link " aria-current="page" href="#">Nav8</a>
              </li>
              
            </ul>
           
          </div>
         </div>
          

      
      </nav>

      <!-- head heading  -->
      <div class="container-fluid headbor"></div>
      <div class="container ">
        <div class="row ">
          <div class="col-md-7 colcheck p-3 p-sm-5 pb-md-0" style="padding: 3.688rem; padding-top: auto; padding-bottom: 0;     align-self: self-end;">
            <div class="mainheading"><h1 style=" font-weight: 900;">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </h1></div>
            <div class="mainpa"><p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.
            </p></div>
            <div>
              <button type="button" class="btn btn-primary firstbtn mb-5 mb-sm-0">Check Pricing</button>
            </div>
          </div>
          <div class="col-md-5 colcheck">
            <div class="d-block">
              <img src="./img/mainhead.jpg" class="d-block w-100" alt="">
            </div>
          </div>
        </div>
      </div>

      <!-- second section  -->
      <section style="margin-top: 9.938rem;">
       
        <div class="container-fluid">
          <div class="row justify-content-center">
            <h1 class="text-center" style="margin-bottom: 3.75rem;"> 
              Lorem ipsum dolor sit amet,consectetur adipiscing elit.
            </h1>
            <div class=" p-5 p-sm-0 m-sm-4  col-sm-4 col-xl-3">
              <div class="card titlecard" style="border-radius: 18px;">
         
                <div class="card-body ">
                  <h6 class="card-title text-center">Lorem ipsum dolor sit .</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittisnunc. In hac habitasse.</p>
                  
                </div>
              </div>
            </div>
            <div class="p-5 p-sm-0 m-sm-4  col-sm-4 col-xl-3">
              <div class="card titlecard" style="border-radius: 18px;">
         
                <div class="card-body">
                  <h6 class="card-title text-center">Lorem ipsum dolor sit .</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittisnunc. In hac habitasse.</p>
                  
                </div>
              </div>
            </div>
            <div class="p-5 p-sm-0 m-sm-4  col-sm-4 col-xl-3">
              <div class="card titlecard" style="border-radius: 18px;">
         
                <div class="card-body">
                  <h6 class="card-title text-center">Lorem ipsum dolor sit .</h6>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittisnunc. In hac habitasse.</p>
                  
                </div>
              </div>
            </div>
 
          </div>
        </div>
        

      </section>
       <!-- section 3  -->
       <section style="margin-top: 11.625rem;" >
        <div class="container" >
          <div class="row ">
            <h1 class="text-center" style="margin-bottom: 6.875rem;">
              Lorem ipsum dolor sit amet,consectetur adipiscing elit.
            </h1>
            <div class="row" style="margin-left: auto;
            margin-right: auto;">
              <div class=" col-md-5 col-xl-4 mx-md-auto">
                <div class="card cardsty" style="width: 18rem;">
                  <img src="./img/cardgirl.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit .</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                  </div>
              
                </div>
              </div>
              <div class="col-md-5 col-xl-4 mx-md-auto">
                <div class="card cardsty" style="width: 18rem;">
                  <img src="./img/bnh.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit .</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                  </div>
              
                </div>
              </div>
              <div class="col-md-5 col-xl-4 mx-md-auto">
                <div class="card cardsty" style="width: 18rem;">
                  <img src="./img/lapg.jpg" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Lorem ipsum dolor sit .</h5>
                    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                  </div>
              
                </div>
              </div>
            </div>
           
          </div>
        </div>
       </section>

       <!-- section 4  -->
       <section style="margin-top: 138px;">
        <div class="container" >
          <h1 class="text-center"> Lorem ipsum dolor sit amet,consectetur adipiscing elit.</h1>
        </div>
        <div class="container " style="margin-top: 6.563rem;">
          <div class="row py-2">
            <div class="col-md-7 col-xl-6">
              <div class="div d-flex" style="margin-bottom:0.875rem ;">
                <div class="div d-inline-block "><img src="./img/savecoin.jpg" alt=""></div>
                <div class="div d-inline-block align-self-center ms-4"><h4>Lorem ipsum dolor sit .</h4></div>
              </div>
              <div class="div" style="margin-bottom: 1.25rem;">
              <h6>  adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. ut maximus ante. Suspendisse varius dolor nec bibendum dignissim</h6>
              </div>
              <div class="div">
                <button type="button" class="btn btn-primary">Check Pricing</button>
              </div>
            </div>
            
            </div>
            <div class="row py-2">
              <div class="col-xl-7 col-md-6"></div>
              <div class="col-md-6 col-xl-5" >
                <div class="div d-flex" style="margin-bottom:0.875rem ;">
                  <div class="div d-inline-block"><img src="./img/tar.jpg" alt=""></div>
                  <div class="div  d-inline-block align-self-center ms-4"><h4>Lorem ipsum dolor sit .</h4></div>
                </div>
                <div class="div" style="margin-bottom:1.25rem ;">
                <h6>adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. ut maximus ante. Suspendisse</h6>
                </div>
                <div class="div">
                  <button type="button" class="btn btn-primary">Check Pricing</button>
                </div>
              </div>
            </div>
          <div class="row py-2">
            <div class="col-md-7 col-xl-6">
              <div class="div d-flex" style="margin-bottom:0.875rem ;">
                <div class="div d-inline-block"><img src="./img/res.jpg" alt=""></div>
                <div class="div d-inline-block align-self-center ms-4"><h4>Lorem ipsum dolor sit .</h4></div>
              </div>
              <div class="div" style="margin-bottom: 1.25rem;">
              <h6>  adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. ut maximus ante. Suspendisse varius dolor nec bibendum dignissim</h6>
              </div>
              <div class="div">
                <button type="button" class="btn btn-primary">Check Pricing</button>
              </div>
            </div>
            
            </div>
            <div class="row py-2">
              <div class="col-xl-7 col-md-6"></div>
              <div class="col-md-6 col-xl-5">
                <div class="div d-flex" style="margin-bottom:0.875rem ;" >
                  <div class="div d-inline-block"><img src="./img/money.jpg" alt=""></div>
                  <div class="div d-inline-block align-self-center ms-4"><h4>Lorem ipsum dolor sit .</h4></div>
                </div>
                <div class="div" style="margin-bottom: 1.25rem;" >
                <h6>adipiscing elit. Ut sed commodo est.Pellentesque eu placerat mauris. ut maximus ante. Suspendisse</h6>
                </div>
                <div class="div">
                  <button type="button" class="btn btn-primary">Check Pricing</button>
                </div>
              </div>
            </div>
  
          </div>
        </div>
       </section>

       <!-- slider section -->

       <section>
        <div class="container" style="margin-top: 11.813rem;">
          <div class="row position-relative ">
            
            <h1 class="text-center" style="margin-bottom: 4.75rem;"> Lorem ipsum dolor sit .</h1>
            <div class="col-md-12 carbox">
              <div class="d-inline-block">
                <div class="d-inline" ><img class=" smallicon " src="./img/star.jpg" alt=""></div>
                <div class="d-inline-block"><h3 >
                  Lorem ipsum dolor sit .
                </h3></div>
              </div>
              <div id="carouselExampleControls" class="carousel carousel-dark slide position-absolute top-50 start-50 translate-middle w-100"  data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card-wrapper container-sm d-flex  justify-content-center gap-md-3 " style="height: 20.813rem;">
                    <div class="row">
                      <div class="col-md-5 col-xl-4 mx-md-auto">
                        <div class="card cardsha p-3 mx-auto" style="width: 18rem;">
                          <div class="card-img-top d-flex justify-content-between">
                           <div class="d-inline-block"><img src="./img/cesar.jpg" alt=""></div>
                           <div class="d-inline-block" style="    padding-right: 4.25rem;">
                             <div class="cardtitlename">Jhon Doe</div>
                             <div class="dis">CEO</div>
                           </div>
                           <div class="d-inline-block">
                             <img class="rating" src="./img/gold.jpg" alt="">
                             <img class="rating" src="./img/gold.jpg" alt="">
                             <img class="rating" src="./img/gold.jpg" alt="">
                             <img class="rating" src="./img/gold.jpg" alt="">
                           
                           </div>
                          </div>
                           <div class="card-body">
                             
                             <p class="cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                           </div>
                         </div>
                      </div>
                      <div class="col-md-5 col-xl-4 mx-md-auto">
                        <div class="card cardsha p-3 mx-auto mt-5 mt-sm-0" style="width: 18rem;">
                          <div class="card-img-top d-flex justify-content-between">
                    <div class="d-inline-block"><img src="./img/girl.jpg" alt=""></div>
                    <div class="d-inline-block">
                      <div class="cardtitlename">Amanda green</div>
                      <div class="dis">Operation Manager</div>
                    </div>
                    <div class="d-inline-block">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                    
                    </div>
                   </div>
                    <div class="card-body">
                      
                      <p class="cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                    </div>
                  </div>
                      </div>
                      <div class="col-md-5 col-xl-4 mx-md-auto ">
                        <div class="card cardsha p-3 mx-auto " style="width: 18rem;">
                          <div class="card-img-top d-flex justify-content-between">
                    <div class="d-inline-block "><img src="./img/boy.jpg" alt=""></div>
                    <div class="d-inline-block w-50 " style="    padding-left: 0.938rem;">
                      <div class="cardtitlename">Sam Cooper</div>
                      <div class="dis">Customer Service Manager</div>
                    </div>
                    <div class="d-inline-block" style="margin-right: 1px;">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                      <img class="rating" src="./img/gold.jpg" alt="">
                    
                    </div>
                   </div>
                    <div class="card-body" style="padding-top: 0px;">
                      
                      <p class="cardpara">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut sed commodo est. Pellentesque eu placerat mauris. Etiam ut maximus ante. Suspendisse varius dolor nec bibendum dignissim. Proin in diam a justo sollicitudin mattis eu sagittis nunc. In hac habitasse platea dictumst.</p>
                    </div>
                  </div>

                      </div>

                    </div>
            
              </div>
                  </div>
          
                <button class="carousel-control-prev prevbtn" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next nextbtn "  type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
                  

            </div>
          </div>
        </div>
       </section>

       <!-- last section  -->
       <section>
        <div class="container">
          <div class="row text-center" style="margin-bottom: 9.625rem;">
            <h1>
              Lorem ipsum dolor sit amet,consectetur adipiscing elit.
            </h1>
          </div>
          <div class="row  iconmarginbottom">
            <div class="col-md-4 my-4 my-sm-0 text-center">
              
              <div>
                  <img class="iconstyle" src="./img/fire.jpg" alt="">
              </div>
              <div class="iconname">
                Form On Fire
              </div>
            </div>
            <div class="col-md-4 my-4 my-sm-0 text-center">
              <div>
                  <img class="iconstyle" src="./img/elec.jpg" alt="">
              </div>
              <div class="iconname">
                ElectroNeek Studio IDE
              </div>
            </div>
            <div class="col-md-4 my-4 my-sm-0 text-center">
              <div>
                  <img class="iconstyle" src="./img/updow.jpg" alt="">
              </div>
              <div class="iconname">
                Jot form
              </div>
            </div>
          </div>
        </div>
       </section>

       <!-- footer  -->
       <footersec>
        <div class="container-fluid w-100 p-0 text-light">
          <div class="row w-100 footer justify-content-center align-items-end">
            <div class="col-2 foothead d-flex">
              <div>
                  <i class="fa-regular fa-copyright d-inline"> </i>
              </div>
              <div class="d-inline-block">Helplama 2021</div>
            </div>
          </div>
        </div>
       </footersec>

     

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
</body>
</html>